<div class="hamburgerIconMargin">

    <img SRC="../../assets/WFall1.jpg" BORDER=0 height=451 width=800 >
    <h2 class="redText">Lady by a Waterfall</h2>
    Date:&nbsp; June 2011
    <p class="orangeText">Media:&nbsp; Paper, pencil &amp; photos + Adobe Photoshop 6.0 </p>
    <p class="orangeText paragraphWrap">Description:&nbsp; One of my drawings in front of SeoCheon waterfall, YeongJu, South Korea.&nbsp; 
    The dress is entirely made from flower pictures, kind of like a float in a parade.&nbsp;
    The ground flowers came from free cut outs from <a href="http://www.archiforge.com" TARGET=_window>http://www.archiforge.com</a>.</p>
    <br><br>
    <img SRC="../../assets/WWheel1.jpg" BORDER=0 height=600 width=800>
    <h2 class="redText">Lady by a Water Wheel</h2>
    Date:&nbsp; May 2011
    <p class="orangeText paragraphWrap">Media:&nbsp; Paper, pencil &amp; photos + Adobe Photoshop 6.0 </p>
    <p class="orangeText paragraphWrap">Description:&nbsp; One of my drawings in front of the Water Wheel at SeoCheon waterfall, YeongJu, South Korea.&nbsp; 
    The flowers came from free cut outs from <a href="http://www.archiforge.com" TARGET=_window>http://www.archiforge.com</a>.</p>
    <br><br>
    <img SRC="../../assets/Platypus.jpg" BORDER=0 height=600 width=800>
    <h2 class="redText">Platypus in a Billabong</h2>
    Date:&nbsp; December 2007 - May 2011
    <p class="orangeText paragraphWrap">Media:&nbsp; Paper &amp; color pencils, &amp; personal photos + Adobe Photoshop 6.0 & GIMP 2.6.7</p>
    <p class="orangeText paragraphWrap">Description:&nbsp; I started drew this Platypus picture when my mother and I were taking 
        an art Class at Michaels Arts &amp; crafts.&nbsp; The big rock in the background is a calcite rock from 
        here in Florida, stained with iodine.&nbsp; I photographed the gravel in Buyeo, South Korea.&nbsp; 
        I threw in a crayfish (or 'yabbie' as they say Down Under), a worm, a snail, and a water bug because 
        that's what platypuses eat.&nbsp; I followed an online tutorial to make the underwater ripple effect.</p>
    <br><br>
    <img SRC="../../assets/CenAGLX.jpg" BORDER=0 height=600 width=800>
    <h2 class="redText">Saying Goodbye Under the Centarus A Galaxy</h2>
    Date:&nbsp; December 2009
    <p class="orangeText paragraphWrap">Media:&nbsp; Paper &amp; pencil, personal photos &amp; space telesocope photos + 
        Adobe Photoshop 6.0 & GIMP 2.6.7</p>
    <p class="orangeText paragraphWrap">Description:&nbsp; First I drew a picture of my friend Ella Cruz in the Philippines.&nbsp;  
        This picture is to say goodbye to my friend Ella Cruz in the Philippines because I'll probably never see her again.&nbsp; 
        I used a photograph of the trees, grass and lake at a nearby apartment complex for a background.&nbsp;  
        I used Photoshop to adjust brightness &amp; to make it look more light a night scene.&nbsp; 
        The large galaxy in the background is a Chandra X-Ray photo of Centarus A.&nbsp;  (Two lens flairs 
        added with Photoshop.) &nbsp; The blobby galaxy off to the right is a Chandra X-ray photo of 3c305. 
        &nbsp; The five colliding galaxies on the left are a Chandra X-Ray photo of Stephan's Quintet.&nbsp; 
        The cross shapped object on the far upper left is from original Hubble Deep Field, photographed by 
        the Hubble Space Telescope back in December 18 - 28, 1995.&nbsp;  <BR><BR>
        
        The clothes were based on photos of real clothes (jean material & my orange wind breaker -- but I also 
        used Photoshop to add a cloud effect to Ella's shirt.)&nbsp;  The hair and skin colors were also based 
        on our real photos.&nbsp;  The rose Ella is holding is based on an outline she actually drew.&nbsp; 
        I filled the flower with a patern from a photo of a glass painting of a rose my grandmother made, 
        and filled in the stem and leaves with a color gradient in Photoshop.&nbsp; The butterfly in Ella's 
        hair is also from my grandmother's glass painting, but I adusted the colors in Photoshop to make it 
        more bright and noticable.&nbsp;  The palm tree on my shirt is a photograph of one of my mother's 
        paitnings cut out with GIMP 2.6.7.&nbsp;  <BR><BR>
        
        The "mushroom tree" is just a close-up shot of a mushroom growing near my home, and the 
        stone table is a close-up shot of a rock I found when I was teaching in South Korea 
        that happened to have a nice smooth bottom.&nbsp;</p>
    <br><br>
    <img SRC="../../assets/QPod.jpg" BORDER=0 height=423 width=200 >
    <h2 class="redText">Experiment 1101 / 1010 Awakens</h2>
    Date:&nbsp; November 25, 2005
    <p class="orangeText">Media:&nbsp; pencil and crayon on paper w/ digital effects</p>
    <p class="orangeText paragraphWrap">Description:&nbsp; Experiment 1101 / 1010 when she first 
        wakes up in a medical pod.</p>
    <br><br>
    
    
</div>


