body {
   margin: 0; 
   background-color: #000000;
}

canvas { 
  width: 20%; 
  height: 20% ;
  background: #000000;
}

.textareaClass{
  height: 40%;
  min-height: 100px;
}

.fullWidth{
  width: 100%;
}